*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    color: white;
    /* border: 1px solid red; */
    max-width:1538px;
    width: 100%;
    display: flex;
    gap:346px;
    align-items: center;
}
#navbar .logo img{
    width: 139px;
    margin:16px 0px 16px 120px;
}
#navbar .nav-links{
    display: flex;
    gap:32px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    width:365px;
    list-style-type:none;
}
#navbar .nav-links li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#navbar .nav-links li a:hover{
    color: red;
}
#navbar .nav-buttons .btn{
    padding: 12.5px 16px 12.5px 16px;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#banner{
    padding: 154.5px 341px 179.5px 341px;
     /* padding: 70px 120px 134px 120px; */
    margin: 0 auto;
    text-align: center;
}
#banner .title button{
    width: 229px;
    height:35px;
    font-size: 16px;
    margin-bottom: 16px;
    padding:8px 12px 8px 32px;
    color:#30B868;
    border: none;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
}
#banner .title-info {
    color:#ffffff;
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 16px;
    /* width: 770px;
    height: 168px;  */
}
#banner .diff{
    color:#30B868
}
#banner .title-details p{
    /* margin-right: 674.5px;  */
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 32px;
    /* border: 1px solid red ; */
    /* margin-left: 674.5px; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* width: 693px;
    height:60px; */
    line-height: 24px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    text-align: center;
}
#container{
    display: flex;
    gap:16px;
    /* justify-content: space-around; */
    /* text-align: justify; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* margin:0 auto; */
    justify-content: center;
}
#container .grn-content button{
    padding:16.5px 46px 16.5px 16px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    background-color: #30B868;
    color:white;
}
#container .content button{
    padding:16.5px 16px 16.5px 46px;
    border:1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    /* background-color: white; */
    line-height: 18px;
    color:white;
    border-radius: 4px;
    background-color: transparent;
}
#container .grn-content button {
    display: flex;
    /* margin-top: 16px; */
    gap: 10px;
}
#container .grn-content button img{
    /* margin-top: 16px; */
    width: 20px;
    height: 20px;
}
#banner{
    background: url(../assets/hero-bg.png);
    vertical-align: middle;
}