*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    color: white;
    max-width:1538px;
    width: 100%;
    display: flex;
    gap:346px;
    align-items: center;
}
#navbar .logo img{
    width: 139px;
    margin:16px 0px 16px 120px;
}
#navbar .nav-links{
    display: flex;
    gap:32px;
    width:365px;
    list-style-type:none;
}
#navbar .nav-links li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
#navbar .nav-links li a:hover{
    color: red;
}
#navbar .nav-buttons .btn{
    padding: 12.5px 16px 12.5px 16px;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#banner{
    padding: 154.5px 341px 179.5px 341px;
    margin: 0 auto;
    text-align: center;
    
}
#banner .title {
    display: flex;           
    justify-content: center;   
    width: 100%;              
}
#banner .title button{
    width: auto; 
    height:35px;
    font-size: 16px;
    margin-bottom: 16px;
    padding:8px 12px 8px 32px; 
    color:#30B868;
    border: none;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
    white-space: nowrap; 
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#banner .title-info {
    color:#ffffff;
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 16px;
    /* width: 770px;
    height: 168px;  */
}
#banner .diff{
    color:#30B868
}
#banner .title-details p{
    /* margin-right: 674.5px;  */
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 32px;
    /* border: 1px solid red ; */
    /* margin-left: 674.5px; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* width: 693px;
    height:60px; */
    line-height: 24px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    text-align: center;
}
#container{
    display: flex;
    gap:16px;
    /* justify-content: space-around; */
    /* text-align: justify; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* margin:0 auto; */
    justify-content: center;
}
#container .grn-content button{
    padding:16.5px 46px 16.5px 16px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    background-color: #30B868;
    color:white;
}
#container .content button{
    padding:16.5px 16px 16.5px 46px;
    border:1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    /* background-color: white; */
    line-height: 18px;
    color:white;
    border-radius: 4px;
    background-color: transparent;
}
#container .grn-content button {
    display: flex;
    /* margin-top: 16px; */
    gap: 10px;
}
#container .grn-content button img{
    /* margin-top: 16px; */
    width: 20px;
    height: 20px;
}
#banner{
    background: url(../assets/hero-bg.png);
    vertical-align: middle;
}
#notes{
    margin: 0 auto;
    text-align: center;
    /* padding: auto; */
}
#notes .title h3{
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;

}
#notes .info p{
    font-size: 16px;
 line-height: 20px;
    color: #627382;
    /* margin-bottom: 44px; */
      margin-bottom: 24px;
      text-align: center;

}

#notes-container {
    display: flex;
    gap: 24px; 
    justify-content: space-between;
    /* max-width: 1360px;
    width:84%; */
    margin: 44px 120px 0px 120px;
     align-items: center;
    /* padding: 69.5px 131px 0px 131px; */
} 
.box {
    text-align: center;
    box-shadow: 0 0 8px 0 rgb(240, 237, 237);
    width: 300px;
    /* height: 322px; */
    padding: 70px 0;
}
#notes-container .box .icons{
    width: 50px;
    height:50px;
    border-radius:50%;
    margin-bottom: 16px;
    background-color: #F95555;
    /* justify-content: space-between; */
    /* text-align: justify; */
    /* align-items: center; */
    /* padding: 69.5px 131px 0px 131px; */
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

}
#notes-container .box .i-title{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #001931;
}
#notes-container .box .i-p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
 text-align: center;
 width: 274px;
 width:84%;
 margin-left: auto;
 margin-right: auto;
}
#brain-section{
    margin: 120px 120px 120px 120px;
    text-align: center;
}
#brain-section .sec{
display: flex;
gap:60px;
/* justify-content: space-around; */
margin-right: 200px;
}
#brain-section .sec .img img{
    width: 600px;
    height:600px;
}
#brain-section .sec .box-brain{
    margin: 102px 0 102px 0;
    width:700px;
    /* color:white; */
}
#brain-section .sec .box-brain .title h5{
color: #30B868;
text-align: left;
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-bottom: 16px;
}
#brain-section .sec .box-brain .info h4{
color: #001931;
text-align: left;
font-size: 48px;
font-weight: bold;
line-height: 58px;
margin-bottom: 16px;
/* height: 116px; */
}
#brain-section .sec .box-brain .details p{
color: #627382;
text-align: left;
font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-bottom: 40px;
}



#brain-section .sec .box-brain .list .l
{
    display: flex;
    gap: 6px;
    /* text-align: center; */
    align-items: center;
}
#brain-section .sec .box-brain .list .l img,p
{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    letter-spacing: 0%;
    text-align:left;
}
#early-access{
    /* paadding: 120px 120px 0 120px; */
    text-align: center;
    margin: 0 auto;
    align-items: center;
    max-width: 1360px;
    width: 84%;
    color: #F7F6F2;
}
#early-access .btn button{
    padding:16.5px 16px 16.5px 16px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    background-color: #30B868;
    color:white;
    margin-top: 24px;
    margin-bottom: 16px;
    /* display: flex;          */
    /* align-items: center;  */
    /* gap: 10px; */
    /* justify-content: center; */
    /* text-align: center; */
    display: flex;
    gap: 6px;
    margin: 24px auto 16px auto;
    cursor: pointer;
}
#early-access .btn button img{
    width: 20px;
    padding: 3.43 2.18 3.44 2.19;
    height: 20px;
}
#early-access .btn button img{
    width: 20px;
    padding: 3.43 2.18 3.44 2.19;
    height: 20px;
}
#early-access .btn button p{
    padding: 16.5 46 16.5 16;
}

#early-access .title h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    color: #000000;
}

#early-access .message p {
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 24px; */
    line-height: 24px;
    color: #627382;
    text-align: center;
    /* justify-content: center; */
}
#early-access .ending p{
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    line-height: 20px;
    text-align: center;
    align-items: center;
    color: #627382;
}
#black{
    background-color: #172735;
    margin: 0 auto;
    width:1538px;
    height:330px;
    padding: 120px 0 38px 0;
   align-items: center;
}
#black .kno{
    display: flex;
    gap: 1001px;
     align-items: center; 
     /* margin:120px; */
     width:84%;
     justify-content: space-between;
     /* text-align: right; */
     margin-bottom: 73.5px;
     /* margin-top: 120px; */
     padding-left: 40px;
     /* padding-right: 20px; */
}
#black .kno .knowledge{
  width: 139px;
    /* margin:120px 0px 83.5px 20px; */
}
#black .kno .social {
    color:white;
    font-size: 20px;
    font-weight:500px;
}
#black .kno .social h2 {
    font-size: 20px;
    font-weight: 500;
    color: white; 
    text-align: center;
    margin-bottom: 16px;
    line-height: 28px;

}
#black .kno .social .social-links{
    display: flex;
    justify-content: center;
    gap:16px;
}
#black .kno .social i {
    background-color: white; 
    /* padding: 20px;  */
    border-radius: 50%;
    text-align: center; 
    /* gap:16px */
    justify-content: space-around;
    color: black;
}
#black hr {
    border: none;
    border-top: 1px solid #627382; 
    margin: 40px auto 20px auto; 
    max-width: 1360px;
    width: 84%;
}
#black small{
     color: #fafafa;           /* হালকা ধূসর রঙ */
    font-size: 16px;
    margin-top: 0;
    font-weight: 400;
    line-height: 24px;
    /* text-align: center; */
}